<div class="row">
	<div class="col-md-4 col-md-offset-1">
		<form class="form-inline">
			<h1>LIST</h1>
			<div class="form-group col-md-12">
				<input type="text" ng-model="searchTarea" placeholder="Buscar Tarea" class="form-control col-md-offset-6">
			</div>
		</form>
		<table class="table table-colapsed table-hover">
			<tbody>
				<tr ng-repeat="tarea in tareas | filter:searchTarea | orderBy: 'valor'">
					<td>{{tarea.nombre}}</td>
					<td>{{tarea.descripcion}}</td>
					<td style="font-size: 18px">{{tarea.valor | currency}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6 ">	
		Details would be here..
	</div>	
</div>