<div class="row col-md-6 col-md-offset-3">
	<form class="form-inline">
		<h1>LIST</h1>
		<div class="form-group col-md-12">
			<button class="btn btn-warning">Crear una tarea</button>		
			<input type="text" ng-model="searchTarea" placeholder="Buscar Tarea" class="form-control col-md-offset-6">
		</div>
	</form>
	<table class="table table-colapsed table-hover">
		<thead>
			<td>Nombre de la tarea</td>
			<td>Descripción</td>
			<td>Costo</td>
		</thead>
		<tbody>
			<tr ng-repeat="tarea in tareas | filter:searchTarea | orderBy: 'valor'">
				<td>{{tarea.nombre}}</td>
				<td>{{tarea.descripcion}}</td>
				<td>{{tarea.valor}}</td>
			</tr>
		</tbody>
	</table>
</div>