<div class="modal fade" id="crearTareaModal" ng-controller="taskcontroller">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Cambiar Contraseña</h4>
      		</div>
    		<form name="posttarea" ng-submit="crearTarea(tarea)">
        		<div class="modal-body">
					<h1>Nueva Tarea</h1>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="tarea.nombre" placeholder="Nombre de la tarea">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="tarea.descripcion" placeholder="Descripción de la tarea">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="tarea.valor" placeholder="Valor ofrecido para hacer la tarea">
					</div>
	        	</div>
	        	<div class="modal-footer">
	          		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
	          		<input type="submit" class="btn btn-primary" value="Crear Tarea" ng-disabled="formCambio.$invalid">
	        	</div>
			</form>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->